@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #232631;
  --primary: #fdc886;
  --secondary: #5a4fcf;
  --muted: #656565;
  --star: #ffb800;
  --placeholder: #858585;
}

@theme inline {
  --font-poppins: "Poppins", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-star: var(--star);
  --color-placeholder: var(--placeholder);
  --drop-shadow-custom: 8px 8px 25px rgba(102, 102, 102, 0.04);
  --drop-shadow-custom2: -8px 8px 25px rgba(102, 102, 102, 0.04);
  --shadow-primary: 0 4px 10px 0 rgba(253, 200, 134, 0.8);
  --shadow-secondary: 0 4px 10px 0 rgba(90, 79, 207, 0.1);
}

@layer base {
  body {
    @apply bg-background text-foreground font-poppins;
  }
}
